.feed {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 1.5rem 0;
    line-height: 1;
}

.feed:hover .feed-title {
    opacity: 0.8;
}

.feed:hover .feed-right {
    margin-right: 1.6rem;
}

.feed:hover .feed-icon {
    transform: translateX(0.4rem);
}

.feed + .feed {
    border-top: 1px solid var(--light-gray-color);
}

.feed-calendar {
    display: flex;
    min-width: 45px;
    color: var(--brand-color);
    font-size: 1.1rem;
    font-weight: 800;
    white-space: nowrap;
}

.feed-calendar-month {
    margin-right: 0.4rem;
    text-transform: uppercase;
}

.feed-image {
    display: flex;
    margin-right: 1.5rem;
    min-width: 16rem;
    white-space: nowrap;
}

.feed-title {
    flex-grow: 1;
    overflow: hidden;
    margin-bottom: 1rem;
    padding-right: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.feed-right {
    display: flex;
    align-items: flex-end;
    transition: margin 0.2s var(--animation-base);
}

.feed-visibility {
    width: 16px;
    height: 16px;
    color: var(--orange-color);
    stroke: var(--dark-gray-color);
  }

.feed-visibility-public {
    display: none;
}

.feed-length {
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    white-space: nowrap;
    margin-right: 0.5rem;
}

.feed-icon {
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    color: var(--secondary-text-color);
    transition: transform 0.2s var(--animation-base);
    transform: translateX(2rem);
}

.feed-post-content {
    margin: 1rem 3rem 1rem 0;
}

@media (max-width: 767px) {
    .feed-image {
        display: none;
    }
}
